---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.social-icons {
  .fa-map-marker-alt {
    color: $behance-color !important;
  }

  .fa-qq {
    color: $lastfm-color !important;
  }

  .fa-weixin {
    color: $success-color !important;
  }

  .fa-at {
    color: $info-color !important;
  }
}

.home-description {
  padding: 1rem 0;
  font-size: 0.8rem;
}

.author__avatar img {
  border: none;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  margin: 5px;
  padding: 0;
  border-radius: 4px;
}

.author__urls a:hover {
  text-decoration: none;
}

/*
a {
  color: $darker-gray;
}

a:visited,
a:hover {
  color: $dark-gray;
}
*/

.study-plan {
  border-left: 6px solid $link-color;
  padding-left: 8px;

  span {
    color: #fff;
    background: $link-color;
    display: inline-block;
  }
}

.plan-list {
  font-size: 0.85rem;
  margin: 0.5rem;
  padding-left: 0.5rem;
}

.plan-list li:before {
  content: "#";
  padding-right: 0.5rem;
  font-weight: bolder;
}

.plan-list li {
  list-style: none;
  margin-bottom: 0.1rem;
}

p {
  font-size: 0.8rem !important;
}
